/* ------------- HEADER ----------------- */
.nav-link{
    color: rgb(255, 255, 255) !important;
    font-size: small;
}

.bg-light{
    background-color: rgb(22, 163, 29) !important;
}

.nav-item{
    border: #1c810e solid 4px;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
}

.navbar-brand{
    color: white !important;
}

#lienhe{
    margin-top: 35px;
    background-color: rgb(43, 33, 33) !important;
    color: white !important;
}

#lienhe>p+p{
    margin: 0 !important;
}

#lienhe .contact{
    padding-right: 15px !important;
    line-height: 5px;
    font-size: 12px;
}

.main-title{
    color:rgba(9, 12, 187, 0.733);
    font-weight: bold;
}

.section{
    margin-top: 25px;
}

.gioithieu-picture{
    height: 16.6em;
}

.text-holder{
    border: solid 4px blue; 
    padding: 25px 25px 0 25px; 
    text-align: justify;
}

.text{
    font-size: 12px;
    text-indent: 5px;
}

.contact{
    display: inline;
}

.btn{
    display: block !important;
    justify-self: center !important;
}

.d-block{
    justify-self: center !important;
    border-radius: 25px;
}

.carousel-inner p {
    font-weight: bold;
    background-color: rgb(255, 253, 127);
    color: rgb(0, 0, 0) !important;
}

.pic{
    height: 550px;
}

h4.subtitle{
    font-weight: bold;
    padding: 10px;
    background-color: rgb(10, 10, 118);
}

h1.title{
    font-size: 45px; 
    text-align: center;
    margin-bottom: 35px !important;
    color: rgb(2, 7, 77);
}

.full .title{
    margin:0 !important;
}

p.subtitle{
    text-align: center;
    color: rgb(243, 250, 255);
    font-size: 20px;
    font-weight: 500;
}

.full{
    background-image: url("static/img/amthucVN.jpg");
    padding-top: 120px;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    width: 746px;
    height: 400px;
    justify-self: center;
}

.full .brief{
    background-color: rgb(147, 154, 255);
    padding: 7px;
}

.food-pic{
    height: 150px;
    width: 150px;
}

.holder{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 150px;
    margin-bottom: 25px;
}

.special{
    color: black;
    text-decoration: none !important;
}

.special:hover .holder{
    color: black;
    transform: scale(1.1);
}


.food .col-3{
    translate: 23%;
}

.center{
    text-align: center;
}